<!DOCTYPE html>
<html>
  <head>
    <title>芳春寺</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <h1 class=text>芳春寺</h1>

<%form_tag(action: :purchase, method: :post) do %>
<script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"></script>
<% end %>

  </header>

  <body>
    <%= yield %>
  </body>
  
</html>
