<!DOCTYPE html>
<html>
  <head>
    <title>芳春寺</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <script data-ad-client="ca-pub-9516316799535489" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <header>
  <h1 class=text>芳春寺</h1>

<%form_tag(action: :purchase, method: :post) do %>
<script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"></script>
<% end %>

  </header>

  <body>
    <%= yield %>
  </body>
  
</html>
